# FINAL CODE

In [64]:
import dash
import dash_bootstrap_components as dbc
from dash import dcc, html, Output, Input, callback
import pandas as pd
import plotly.express as px
from pymongo import MongoClient
from sqlalchemy import create_engine
import base64
import io
import plotly.express as px
from PIL import Image
from bson.binary import Binary

In [65]:
import os

In [66]:
from langchain_openai import OpenAIEmbeddings
from langchain.prompts.prompt import PromptTemplate
from langchain.chains import LLMChain  # Assuming this import is still correct

In [67]:
import openai

In [68]:
import tiktoken
from langchain.document_loaders import CSVLoader
from langchain.indexes import VectorstoreIndexCreator

In [69]:
# Set your OPENAI_API_KEY environment variable
os.environ['OPENAI_API_KEY'] = "XXXXXX"

In [73]:
#next line path to csv file

csv_files = ["parks_data.csv"]

In [74]:
#next line Initialize a loader for each CSV file
loaders = [CSVLoader(file_path=file) for file in csv_files]

In [75]:
#nextline Initialize VectorstoreIndexCreator with all loaders
index = VectorstoreIndexCreator().from_loaders(loaders)

In [76]:
#next line Define the chatbot response function
def chatbot_response(msg):
    # Query the index
    res = index.query(msg)
    print(f"Functions available for response are: {res}")
    return str(res)  # Make sure to return a string response

In [77]:
# Setup for MongoDB and PostgreSQL connections
mongo_client = MongoClient('localhost', 27017)
db = mongo_client.images_database
collection = db['images']
engine = create_engine('postgresql://postgres:123@localhost:5432/managing_data_project')
connection = engine.connect()

In [78]:
# Function to fetch and encode an image from MongoDB for display
def get_image_b64(borough):
    image_record = collection.find_one({"borough": borough})
    if image_record:
        return base64.b64encode(image_record['image_data']).decode('utf-8')
    return None

In [79]:
zip_code_price = pd.read_csv('data-price.csv')

In [80]:
zip_code_price.head()

,zipcode,2024-02,2024-01,2023-12,2023-11,2023-10,2023-09
0,11368,441461.718399,443049.463008,445849.486595,450092.281523,453412.439800,455418.562614
1,11385,792923.200317,792863.494206,794219.294483,794357.441842,795590.136184,796865.389844
2,11208,657511.381815,654282.922412,651853.943984,650249.328941,650775.764573,651905.558916
3,11236,637277.139809,634442.428552,632397.034348,630730.172352,630400.124022,629576.296283
4,10467,324471.278393,327875.011963,332154.483293,338600.668980,343407.860016,346118.664294

In [81]:
df=zip_code_price.loc[zip_code_price['zipcode']==10002].transpose()

In [82]:
# function to retrieve housing prices by zip code
def fetch_housing_data_for_the_zip(zipcode):
    print(zipcode)
    df = zip_code_price.loc[zip_code_price['zipcode']==zipcode].transpose()
    df1 = df.iloc[1:]
    #print(df1.columns)
    df1.columns=["avg_price"]
    #print(df1.columns)
    return df1

In [83]:
# Initialize Dash app with Bootstrap components
app = dash.Dash(__name__, suppress_callback_exceptions=True, external_stylesheets=[dbc.themes.BOOTSTRAP])

boroughs = ['Manhattan', 'Bronx', 'Queens', 'Staten Island', 'Brooklyn']

In [84]:
# Load images into MongoDB if not already present
base_folder_path = '/Users/shivanisingh/Desktop/Columbia_Sem2/Managing_Data/NYC_data_pipeline_project/images_mongodb'
boroughs = ['Manhattan', 'Bronx', 'Queens', 'Staten Island', 'Brooklyn']

In [85]:
# Load images into MongoDB if not already present
for borough in boroughs:
    folder_path = os.path.join(base_folder_path, borough)
    print(f"Processing {folder_path}")
# Debugging print
    if os.path.exists(folder_path):
        # This line constructs a filename with the pattern "{borough}.jpeg"
        expected_filename = f"{borough}.jpeg"
        # Loop through all files in the borough folder
        for filename in os.listdir(folder_path):
            # Check for image files and match the expected filename
            if filename.lower() == expected_filename.lower():
                # Check if this image is already in the MongoDB
                if collection.count_documents({"borough": borough, "image_name": filename}) == 0:
                    try:
                        with open(os.path.join(folder_path, filename), 'rb') as image_file:
                            image = Image.open(image_file)
                            image_byte_array = io.BytesIO()
                            image.save(image_byte_array, format='JPEG')
                            collection.insert_one({
                                "image_name": filename,
                                "image_data": Binary(image_byte_array.getvalue()),
                                "borough": borough
                            })
                            print(f"Added {filename} to MongoDB")
                    except Exception as e:
                        print(f"Error processing {filename}: {e}")
                else:
                    print(f"{filename} already in MongoDB")
            else:
                print(f"Skipped {filename}")
    else:
        print(f"Directory {folder_path} does not exist")

Processing /Users/shivanisingh/Desktop/Columbia_Sem2/Managing_Data/NYC_data_pipeline_project/images_mongodb/Manhattan
Skipped .DS_Store
Manhattan.jpeg already in MongoDB
Processing /Users/shivanisingh/Desktop/Columbia_Sem2/Managing_Data/NYC_data_pipeline_project/images_mongodb/Bronx
Skipped .DS_Store
Bronx.jpeg already in MongoDB
Processing /Users/shivanisingh/Desktop/Columbia_Sem2/Managing_Data/NYC_data_pipeline_project/images_mongodb/Queens
Queens.jpeg already in MongoDB
Skipped .DS_Store
Processing /Users/shivanisingh/Desktop/Columbia_Sem2/Managing_Data/NYC_data_pipeline_project/images_mongodb/Staten Island
Skipped .DS_Store
Staten Island.jpeg already in MongoDB
Processing /Users/shivanisingh/Desktop/Columbia_Sem2/Managing_Data/NYC_data_pipeline_project/images_mongodb/Brooklyn
Skipped .DS_Store
Brooklyn.jpeg already in MongoDB

In [86]:
# Function to print all images in the MongoDB
def print_all_images(collection):
    all_images = collection.find({}, {"image_name": 1, "_id": 0})
    print("Images in the database:")
    for image in all_images:
        print(image["image_name"])

# Print the list of images present before loading
print_all_images(collection)

Images in the database:
Manhattan.jpeg
Bronx.jpeg
Queens.jpeg
Staten Island.jpeg
Brooklyn.jpeg

In [87]:
# Define the initial layout
app.layout = dbc.Container(
    [
        dbc.Row(
            [
                dbc.Col(
                    dcc.Dropdown(
                        id='borough-selector',
                        options=[{'label': b, 'value': b} for b in boroughs],
                        value='Manhattan',
                        placeholder="Select a borough",
                    ),
                    width=6
                ),
            ],
            className="mb-3"
        ),
        
        # Row for the heatmap and image
        dbc.Row(
            [
                dbc.Col(
                    dcc.Graph(id='crime-heatmap'), 
                    width=8
                ),  # 70% width for heatmap
                dbc.Col(
                    html.Div(
                        html.Img(
                            id='borough-image', 
                            className="img-fluid", 
                            style={'height': '100%', 'width': '100%', 'object-fit': 'cover'}
                        ),
                        style={'height': '500px', 'width': '100%'}  # Explicitly setting the height of the div
                    ), 
                    width=4, 
                    className="g-0"  # 30% width for image with no gutters
                ),
            ],
            className="mb-3 align-items-stretch g-0"  # Ensures the items in the row stretch to take full height and have no gutters
        ),

        dbc.Row(
            [
                dbc.Col(dcc.Graph(id='race-ethnicity-tree-map'), width=4, className="g-2"),
                dbc.Col(dcc.Graph(id='income-employment-graph'), width=4, className="g-2"),
                dbc.Col(dcc.Graph(id='demographics-bar-chart'), width=4, className="g-2"),
            ],
            className="mb-2"
        ),

        dbc.Row(
            dbc.Col(
                dcc.Dropdown(
                    id='zip-code-dropdown',
                    placeholder="Enter a zip code",
                ),
                width=6
            )
        ),

        dbc.Row(
            dcc.Graph(id='line-graph'),
        ),

        # Define the chat row here (right before the app.layout definition)
        dbc.Row(
            dbc.Col(
                dcc.Input(
                    id='chat-input',
                    type='text',
                    placeholder='Ask me anything about NYC data...',
                    style={'width': '100%'}
                ),
                width=12
            ),
            className="mb-2"
        ),
        
        dbc.Row(
            dbc.Col(
                html.Div(
                    id='chat-response', 
                    children=''
                ),
                width=12
            )
        )
    ],
    fluid=True
)

In [88]:
borough_zip_code = pd.read_csv('nyc-zip-codes.csv')

In [89]:
borough_zip_code.head()

  Borough            Neighborhood  ZipCode
0   Bronx           Central Bronx    10453
1   Bronx           Central Bronx    10457
2   Bronx           Central Bronx    10460
3   Bronx  Bronx Park and Fordham    10458
4   Bronx  Bronx Park and Fordham    10467

In [90]:
# Callback to update zip code dropdown based on selected borough
@app.callback(
    Output('zip-code-dropdown', 'options'),
    Input('borough-selector', 'value')
)
def zip_codes(selected_borough='Manhattan'):
    if selected_borough:
        return borough_zip_code.loc[borough_zip_code['Borough']==selected_borough]['ZipCode'].to_list()
    return []

In [91]:
#Callback for chat input and response
@app.callback(
    Output('chat-response', 'children'),
    Input('chat-input', 'value')
)
def update_output(value):
    if value is None:
        # No input was given, return nothing
        return ""
    else:
        # Return the response from the chatbot
        return chatbot_response(value)

In [92]:
#Callback to update image based on selected borough
@app.callback(
    Output('borough-image', 'src'),
    [Input('borough-selector', 'value')]
)
def update_image(selected_borough):
    if selected_borough:
        image_b64 = get_image_b64(selected_borough)
        if image_b64:
            return f'data:image/jpeg;base64,{image_b64}'
    return ""

In [93]:
@app.callback(  
    Output("line-graph", "figure"),
    Input('zip-code-dropdown', 'value')
)
def get_line_graph(zip_code):
    if zip_code is not None:
        df = fetch_housing_data_for_the_zip(zip_code)
        print(df)
        fig = px.line(df, x=df.index, y=df['avg_price'], title="Average House Prices For This Zip Code") 
        return fig
    return {}

In [94]:
@app.callback(
    [Output('demographics-bar-chart', 'figure'),
     Output('race-ethnicity-tree-map', 'figure'),
     Output('income-employment-graph', 'figure'),
     Output('crime-heatmap', 'figure')],
    [Input('borough-selector', 'value'),
     Input('income-employment-graph', 'clickData')]
)
def update_all_graphs(selected_borough, clickData):
    if not selected_borough:
        return {}, {}, {}, {}
    
    # Demographics Bar Chart
    demo_df = pd.read_sql(f"SELECT * FROM demographics WHERE borough = '{selected_borough}';", con=engine)
    fig_demo = px.bar(demo_df, x='borough', y=['totalpop', 'men', 'women'], 
                  title=f"Demographics for {selected_borough}", 
                  labels={"value": "Population", "variable": "Category"},
                  color_discrete_sequence=px.colors.sequential.Greens_r)

    # Update the title font size 
    fig_demo.update_layout(
    title_font_size=14,
    barmode='group'
    )

    
    # Race Ethnicity Tree Map
    race_df = pd.read_sql(f"SELECT * FROM race_ethnicity WHERE borough = '{selected_borough}';", con=engine)
    races = ["totalhispanic", "totalwhite", "totalblack", "totalnative", "totalasian"]
    race_data = [{"race": race, "count": race_df.iloc[0][race]} for race in races]
    df = pd.DataFrame(race_data)
    fig_race = px.treemap(df, path=[px.Constant("Race and Ethnicity"), 'race'], values='count',
                          title=f"Race and Ethnicity Composition for {selected_borough}",
                          color='count', color_continuous_scale=px.colors.sequential.Blues)
    # Update title font size
    fig_race.update_layout(
    title_font_size=14
    )
    fig_race.update_traces(hovertemplate='Count=%{value}<br>Label=%{label}<br>Parent=%{parent}<extra></extra>')
    
    # Income Employment Graph
    query = f"SELECT * FROM economic_indicators WHERE borough = '{selected_borough}';"
    econ_df = pd.read_sql(query, con=engine)
    if clickData:
        econ_df_melted = econ_df.melt(id_vars=['avgincome'], value_vars=['totalemployed', 'totalunemployed'],
                                      var_name='Employment Status', value_name='Count')
        fig_income = px.bar(econ_df_melted, x='avgincome', y='Count', color='Employment Status', barmode='group',
                            title=f"Employment Details for {selected_borough}",
                            color_discrete_sequence=["#FF4136", "#85144b"])
        fig_income.update_layout(
            title_font_size=14,
            yaxis_type="log"
        )
    else:
        fig_income = px.scatter(econ_df, x='avgincome', y='totalemployed', size='totalunemployed', 
                                title=f"Average Income and Employment for {selected_borough}",
                                color_discrete_sequence=['red'])
        # Update the title font size 
        fig_income.update_layout(
        title_font_size=14
        )
    
    # Crime Heatmap
    crime_data_query = f"""
        SELECT c.zipcode, c.borough, c.average_crime_data, ll.latitude, ll.longitude
        FROM final_crime_statistics c
        JOIN lat_long ll ON c.zipcode = ll.zipcode::varchar
        WHERE c.borough = '{selected_borough}'
    """
    df_crime = pd.read_sql(crime_data_query, con=engine)
    fig_crime = px.scatter_mapbox(
        df_crime,
        lat='latitude',
        lon='longitude',
        size='average_crime_data',
        color='average_crime_data',
        hover_name='zipcode',
        hover_data={
            'latitude': False,
            'longitude': False,
            'average_crime_data': True,
            'borough': True,
            'zipcode': True
        },
        color_continuous_scale=["green", "yellow", "red"],  # Red to green color scale
        zoom=10,
        height=600,
        mapbox_style="carto-darkmatter"
    )
    fig_crime.update_layout(
        title={
            'text': "Average Crime Data Heatmap",
            'y':0.98,
            'x':0.5,
            'xanchor': 'center',
            'yanchor': 'top',
            'font': {'size': 20}
        },
        coloraxis_colorbar=dict(
            title='Average Crime Data',
            title_font_size=14,
            orientation='h',
            x=0.5,  # Centered
            xanchor='center',
            y=-0.2,  # Lowered to avoid overlap with the map
            yanchor='bottom',
            len= 0.8  # Length of the color bar, adjust as necessary for best fit
        ),
        margin={"r":0, "t":40, "l":0, "b":0},  # Adjust top margin to accommodate title
    )

    # Return the figures as a tuple
    return fig_demo, fig_race, fig_income, fig_crime

In [95]:
# Run the app
if __name__ == '__main__':
    app.run(debug=True, port=8064)

10310
             avg_price
2024-02  623232.747918
2024-01  619476.995556
2023-12  617575.674451
2023-11  617562.483654
2023-10  620517.794931
2023-09  623448.586455
Functions available for response are:  There are two parks near Columbia University in Manhattan: 21 Columbia Street and 955 Columbus Avenue.
10027
             avg_price
2024-02  774533.841105
2024-01  777585.721284
2023-12  779924.066321
2023-11  786386.442557
2023-10  794248.251982
2023-09  801855.164951
10030
             avg_price
2024-02  642961.390005
2024-01  636710.387990
2023-12  634655.442450
2023-11  635799.836610
2023-10  640259.254282
2023-09  644707.363108
10026
             avg_price
2024-02  773695.861615
2024-01  771749.453490
2023-12  772726.727487
2023-11  774521.405970
2023-10  778697.816680
2023-09  782410.528136
10027
             avg_price
2024-02  774533.841105
2024-01  777585.721284
2023-12  779924.066321
2023-11  786386.442557
2023-10  794248.251982
2023-09  801855.164951
10030
             avg_price
2024-02  642961.390005
2024-01  636710.387990
2023-12  634655.442450
2023-11  635799.836610
2023-10  640259.254282
2023-09  644707.363108
10026
             avg_price
2024-02  773695.861615
2024-01  771749.453490
2023-12  772726.727487
2023-11  774521.405970
2023-10  778697.816680
2023-09  782410.528136
10037
             avg_price
2024-02  474006.345330
2024-01  473728.834957
2023-12  476029.794418
2023-11  482787.125817
2023-10  489601.113440
2023-09  496913.216116
10039
             avg_price
2024-02  603003.694774
2024-01  601502.708828
2023-12  601902.230289
2023-11  606491.872225
2023-10  612477.793362
2023-09  620683.686046
Functions available for response are:  I'm sorry, I don't see a question in the given context. Could you please provide a question for me to answer?
Functions available for response are:  I don't know.
Functions available for response are:  I'm sorry, I don't know what the question is asking for. Can you please provide more context or clarify the question?
Functions available for response are:  I don't know.
Functions available for response are:  I don't know.
Functions available for response are:  There are four parks listed in the context: 294 10 Av in Manhattan, 1010 REV JAMES POLITE Av in the Bronx, 953 Gates Av in Brooklyn, and 123 Malcolm X Av in Brooklyn.
Functions available for response are:  I don't know.
Functions available for response are:  There are four parks in this context: one in Manhattan, one in the Bronx, one in Brooklyn, and one in Manhattan.
Functions available for response are:  I don't know.
Functions available for response are:  I don't know.
Functions available for response are:  I don't know.
Functions available for response are:  There are two parks in the 10 zip code: 10 Avenue C and 10 Market Street.
Functions available for response are:  I don't know.
Functions available for response are:  I don't know.
Functions available for response are:  I don't know.
Functions available for response are:  I don't know.
Functions available for response are:  I don't know.
Functions available for response are:  I don't know.
10027
             avg_price
2024-02  774533.841105
2024-01  777585.721284
2023-12  779924.066321
2023-11  786386.442557
2023-10  794248.251982
2023-09  801855.164951
Functions available for response are:  There are two parks near Columbia University in Manhattan: 21 Columbia Street and 955 Columbus Avenue.